dist
dist-*
cabal-dev
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
dist-newstyle/
*.o
*.hi
.vscode/
# LaTeX
*.aux
*.log
*.out
*.synctex.gz